<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.overseass.demo.dao.OSSMapper" >
  <resultMap id="BaseResultMap" type="com.overseass.demo.pojo.OSS" >
    <id column="int_oss_id" property="intOssId" jdbcType="INTEGER" />
    <result column="str_type" property="strType" jdbcType="VARCHAR" />
    <result column="str_name" property="strName" jdbcType="VARCHAR" />
    <result column="str_attribute" property="strAttribute" jdbcType="VARCHAR" />
    <result column="str_content" property="strContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    int_oss_id, str_type, str_name, str_attribute, str_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_oss
    where int_oss_id = #{intOssId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_oss
    where int_oss_id = #{intOssId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.overseass.demo.pojo.OSS" >
    insert into t_oss (int_oss_id, str_type, str_name, 
      str_attribute, str_content)
    values (#{intOssId,jdbcType=INTEGER}, #{strType,jdbcType=VARCHAR}, #{strName,jdbcType=VARCHAR}, 
      #{strAttribute,jdbcType=VARCHAR}, #{strContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.overseass.demo.pojo.OSS" >
    insert into t_oss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intOssId != null" >
        int_oss_id,
      </if>
      <if test="strType != null" >
        str_type,
      </if>
      <if test="strName != null" >
        str_name,
      </if>
      <if test="strAttribute != null" >
        str_attribute,
      </if>
      <if test="strContent != null" >
        str_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intOssId != null" >
        #{intOssId,jdbcType=INTEGER},
      </if>
      <if test="strType != null" >
        #{strType,jdbcType=VARCHAR},
      </if>
      <if test="strName != null" >
        #{strName,jdbcType=VARCHAR},
      </if>
      <if test="strAttribute != null" >
        #{strAttribute,jdbcType=VARCHAR},
      </if>
      <if test="strContent != null" >
        #{strContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.overseass.demo.pojo.OSS" >
    update t_oss
    <set >
      <if test="strType != null" >
        str_type = #{strType,jdbcType=VARCHAR},
      </if>
      <if test="strName != null" >
        str_name = #{strName,jdbcType=VARCHAR},
      </if>
      <if test="strAttribute != null" >
        str_attribute = #{strAttribute,jdbcType=VARCHAR},
      </if>
      <if test="strContent != null" >
        str_content = #{strContent,jdbcType=VARCHAR},
      </if>
    </set>
    where int_oss_id = #{intOssId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.overseass.demo.pojo.OSS" >
    update t_oss
    set str_type = #{strType,jdbcType=VARCHAR},
      str_name = #{strName,jdbcType=VARCHAR},
      str_attribute = #{strAttribute,jdbcType=VARCHAR},
      str_content = #{strContent,jdbcType=VARCHAR}
    where int_oss_id = #{intOssId,jdbcType=INTEGER}
  </update>
</mapper>